<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2>Dashboard</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <a href="javascript:void(0);" (click)="logout()" class="logout-link btn btn-danger">Logout</a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="text-center"> Welcome,  {{id}}</h3>
        </div>
    </div>
    <div class="listing-section">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="left-section">
                    <div class="search-box">
                        <input type="text" [(ngModel)]="queryString" id="search" placeholder="Search" />
                    </div>
                    <ul class="article-list" *ngIf="( artilces | FilterPipe: queryString : searchableList) as result">
                        <li *ngFor="let artilce of result">
                            <div class="article-info">
                                <div class="article-image">
                                    <img src="assets/images/{{artilce.imgSrc}}" alt="img"/>
                                </div>
                                <div class="article-detail">
                                    <h4 class="title">Title:{{artilce.title}}</h4>
                                    <h4 class="author">Author: {{artilce.author}}</h4>
                                </div>
                                <div class="date">Date: {{artilce.date}}</div>
                            </div>
                            <div class="article-summary">
                                <p>Message: {{artilce.message}}</p>
                            </div>
                        </li>
                        <li class="no-record" *ngIf="result.length === 0">
                            <p>No Result</p>
                        </li>
                        <li *ngIf="errorMsg">
                            <p>Error: {{errorMsg}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="right-section">
                    <h3>User List</h3>
                    <ul class="user-list">
                        <li *ngFor="let user of users">{{user.username}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>